_builds_ios/
_builds_android/
_install_ios/
# Except the lib folder and its contents
!/_install_ios/lib/
!/_install_ios/lib/**
.claude
wasm/node_modules
wasm/_build
wasm/_install
wasm/dist
wasm/_deps
wasm/_emscripten_install
wasm/emsdk
wasm/boost_1_84_0
wasm/openssl-1.1.1w
