* text=auto eol=lf
thirdparty/*/android/*/lib/*.a filter=lfs diff=lfs merge=lfs -text
thirdparty/*/ios/*.xcframework/*/*.a filter=lfs diff=lfs merge=lfs -text
thirdparty/*/linux/*/lib/*.a filter=lfs diff=lfs merge=lfs -text
thirdparty/*/macosx/*.xcframework/*/*.a filter=lfs diff=lfs merge=lfs -text
thirdparty/*/windows/*/lib/*.lib filter=lfs diff=lfs merge=lfs -text
build/android/*/lib/*.a filter=lfs diff=lfs merge=lfs -text
build/ios/*.xcframework/*/*.a filter=lfs diff=lfs merge=lfs -text
build/linux/*/lib/*.a filter=lfs diff=lfs merge=lfs -text
build/macosx/*.xcframework/*/*.a filter=lfs diff=lfs merge=lfs -text
build/windows/*/lib/*.lib filter=lfs diff=lfs merge=lfs -text
