[submodule "Zano"]
	path = Zano
	url = https://github.com/hyle-team/zano.git
[submodule "_libs_ios/OpenSSL"]
	path = _libs_ios/OpenSSL
	url = https://github.com/krzyzanowskim/OpenSSL
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake
[submodule "contrib/android/Boost-for-Android"]
	path = contrib/android/Boost-for-Android
	url = https://github.com/moritz-wundke/Boost-for-Android.git
